---
import MiFoto from "../../assets/img/MiFoto.png";
---

<!-- Contenedor principal -->
<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
>
  <!-- Imagen -->
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={MiFoto.src}
      alt="Foto de Franklin"
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Texto -->
  <div class="flex-1 text-center text-gray-300 lg:text-left">
    <h2 class="text-3xl font-bold text-white">
      Mi nombre es <span class="text-white text-shadow">Franklin</span>
    </h2>
    <p class="mt-4">
      Soy un desarrollador enfocado en crear soluciones <span class="text-primary font-semibold">escalables y eficientes</span>. Mi perfil combina el rigor técnico de <span class="text-primary font-semibold">Técnico Superior en DAM</span> (2000h de especialización) con la experiencia real en <span class="text-primary font-semibold">Indra</span>, donde optimicé procesos críticos de inventario y mantenimiento mediante tecnología <span class="text-primary font-semibold">Low-Code (Appian)</span>.
    </p>
    <p class="mt-2">
      Mi core técnico se centra en <span class="text-primary font-semibold">Backend & Lógica</span>. Desarrollo microservicios robustos con <span class="text-primary font-semibold">Java SE/EE & Spring Boot</span>, con enfoque en sistemas de alto rendimiento. Soy experto en acceso a datos con <span class="text-primary font-semibold">Hibernate/JPA</span> y gestión avanzada de bases de datos relacionales (MySQL/MariaDB). También utilizo <span class="text-primary font-semibold">Python</span> para automatización y scripting.
    </p>
    <p class="mt-2">
      Complemento mi perfil con una visión <span class="text-primary font-semibold">Fullstack y de Negocio</span>. Creo interfaces dinámicas (UI/UX) con <span class="text-primary font-semibold">React/Angular</span> y aplicaciones móviles. Tengo experiencia en BPMN 2.0, Sistemas de Gestión Empresarial (ERP/CRM) y metodologías ágiles (<span class="text-primary font-semibold">Scrum</span>), priorizando siempre la calidad, el <span class="text-primary font-semibold">código limpio</span> y el uso de Git/Docker.
    </p>
    <p class="mt-2">
      Busco integrarme en equipos de <span class="text-primary font-semibold">alto nivel técnico</span> donde pueda aplicar mi capacidad analítica para resolver problemas complejos y escalar <span class="text-primary font-semibold">arquitecturas modernas</span>.
    </p>
  </div>
</div>







